@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--bg-color);
  height: 100%;
  text-rendering: optimizeSpeed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
}

h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

p {
  font-size: 1rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

p {
  color: var(--text-color);
}

:root {
  --primary-color: hsl(12, 88%, 59%);
  --bg-color: hsl(0, 0%, 100%);
  --heading-color: hsl(228, 39%, 23%);
  --text-color: hsl(227, 12%, 61%);
  --dark-blue: hsl(233, 12%, 13%);
  --pale_red: hsl(13, 100%, 96%);
  --gray: hsl(0, 0%, 98%);
}

.carousel_heading {
  text-align: center;
  font-size: 1.9rem;
  padding-bottom: 3rem;
}

.carousel_btn {
  display: flex;
  margin: 0 auto;
}

/* Slider */
.carousel_section .container {
  max-width: 1600px;
  overflow: hidden;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}

.carousel_container {
  padding-top: 1rem;
}

.swiper {
  max-width: 100%;
  overflow: inherit !important;
  height: 300px;
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 750px) {
  .swiper {
    max-width: 500px;
  }
}

.name {
  color: var(--heading-color);
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 750px) {
  .name {
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

.quote {
  color: var(--text-color);
  padding: 0 1rem;
  height: 100%;
  line-height: 1.6;
  font-size: 0.9rem;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .quote {
    margin: 0 auto;
  }
}

.swiper-wrapper {
  max-height: 240px;
}

.swiper-slide {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(248, 248, 248);
}
.swiper-slide img {
  width: 70px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -15%;
  left: 0;
  right: 0;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: var(--bg-color) !important;
  border: 1px solid var(--primary-color);
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
}

.footer .container {
  max-width: 100%;
  background-color: var(--dark-blue);
  text-align: left;
}
.footer .wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
}
@media screen and (min-width: 750px) {
  .footer .wrapper {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 4rem 0;
  }
}
.footer .footer_input-container {
  grid-area: 1/1;
  grid-column: span 2;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 750px) {
  .footer .footer_input-container {
    display: grid;
    height: 100%;
    grid-area: 1/4;
    margin: 0;
    justify-content: end;
  }
}
.footer .footer_input-container form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
@media screen and (min-width: 750px) {
  .footer .footer_input-container form {
    height: 70%;
  }
}
.footer .footer_input-container form input {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  border-radius: 30px;
}
.footer .footer_input-container form input::-moz-placeholder {
  color: var(--text-color);
}
.footer .footer_input-container form input:-ms-input-placeholder {
  color: var(--text-color);
}
.footer .footer_input-container form input::placeholder {
  color: var(--text-color);
}
.footer .footer_input-container form .btn {
  box-shadow: none;
}
.footer .footer_nav-container-left {
  display: grid;
  grid-area: 2/1;
}
@media screen and (min-width: 750px) {
  .footer .footer_nav-container-left {
    grid-area: 2/2;
    grid-row: span 2;
    justify-content: start;
  }
}
.footer .footer_nav-container-right {
  display: grid;
  grid-area: 2/2;
}
@media screen and (min-width: 750px) {
  .footer .footer_nav-container-right {
    height: 100%;
    justify-content: end;
    grid-area: 2/3;
    grid-row: span 2;
    margin: 0;
  }
}
.footer .fotter_nav-lists {
  display: grid;
  justify-content: center;
  gap: 0.8rem;
}
.footer .fotter_nav-lists .footer_nav-item a {
  color: var(--gray);
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}
.footer .fotter_nav-lists .footer_nav-item a:hover {
  color: var(--primary-color);
}
.footer .social_links-container {
  grid-area: 3/1;
  grid-column: span 2;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 750px) {
  .footer .social_links-container {
    display: grid;
    grid-area: 2/1;
    align-items: end;
    margin: 0;
    height: 100%;
  }
}
.footer .social_links-container .social_lists {
  display: flex;
  gap: 2rem;
}
@media screen and (min-width: 750px) {
  .footer .social_links-container .social_lists {
    gap: 1rem;
  }
}
.footer .social_links-container .social_lists img {
  width: 28px;
}
@media screen and (min-width: 750px) {
  .footer .social_links-container .social_lists img {
    width: 20px;
  }
}
.footer .logo_container {
  grid-area: 4/1;
  grid-column: span 2;
  margin: 0 auto;
}
@media screen and (min-width: 750px) {
  .footer .logo_container {
    width: 100%;
    height: 100%;
    grid-area: 1/1;
  }
}
.footer .copyright {
  grid-area: 5/-1;
  grid-column: span 2;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 750px) {
  .footer .copyright {
    display: grid;
    height: 100%;
    grid-area: 2/4;
    justify-content: end;
    align-items: end;
    margin: 0;
  }
}
.footer .copyright p {
  font-size: 0.8rem;
}

svg:hover path {
  fill: black;
  transition: all ease 0.3s;
}

svg path {
  transition: all ease 0.3s;
}

.hero_heading {
  font-size: 2.3rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 750px) {
  .hero_heading {
    font-size: 3rem;
    width: 90%;
    margin-top: 0;
  }
}

.header {
  position: relative;
}

.container {
  max-width: 1100px;
  margin-inline: auto;
  text-align: center;
  padding: 0 1rem;
}
@media screen and (min-width: 750px) {
  .container {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.colums {
  display: grid;
}
.colums .right_side.mobile {
  grid-column-start: 1;
  grid-row-start: 1;
}
@media screen and (min-width: 750px) {
  .colums .right_side.mobile {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}
@media screen and (min-width: 750px) {
  .colums {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.main > .container .colums {
  margin-top: 7rem;
  align-items: center;
}
@media screen and (min-width: 750px) {
  .main > .container .colums {
    margin-top: 12rem;
  }
}

.btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--pale_red);
  padding: 0.8rem 2.2rem;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--primary-color) 0px 10px 15px -7px;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: hsl(12deg, 87%, 73%);
}

.main_section {
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.main_section .container {
  padding: 0;
}
.main_section .left_side {
  align-items: center;
  padding: 0 1rem;
}
@media screen and (min-width: 1200px) {
  .main_section .left_side {
    padding: 0;
  }
}
.main_section .right_side {
  margin-top: 2rem;
  padding-left: 1rem;
  text-align: left;
}
@media screen and (min-width: 750px) {
  .main_section .right_side {
    margin-top: 0;
  }
}
.main_section h2 {
  font-size: 1.9rem;
}

@media screen and (min-width: 750px) {
  .left_side h2 {
    width: 80%;
  }
}
.left_side .left_side-p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.8;
}
@media screen and (min-width: 750px) {
  .left_side .left_side-p {
    width: 65%;
  }
}

.right_side-lists h3 {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-size: 0.9rem;
  background-color: var(--pale_red);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
@media screen and (min-width: 750px) {
  .right_side-lists h3 {
    font-size: 1rem;
    background-color: transparent;
  }
}
.right_side-lists h3 span {
  padding: 0.4rem 0;
  width: 60px;
  color: var(--gray);
  background-color: var(--primary-color);
  border-radius: 30px;
}
.right_side-lists p {
  margin: 0.8rem 0;
  font-size: 0.9rem;
  line-height: 1.8;
}
@media screen and (min-width: 750px) {
  .right_side-lists p {
    padding-left: 4.8rem;
    padding-right: 3.5rem;
  }
}

.main {
  position: relative;
}

.main:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("/images/bg-tablet-pattern.svg"), url("/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 5rem -6rem, 15rem 28rem;
  background-size: 450px 450px, 350px 350px;
  opacity: 0.9;
}
@media screen and (min-width: 450px) {
  .main:before {
    background-position: 8rem -5rem, 18rem 35rem;
    background-size: 500px 500px, 350px 350px;
  }
}
@media screen and (min-width: 520px) {
  .main:before {
    background-position: 9rem -5rem, 23rem 37rem;
    background-size: 600px 600px, 350px 350px;
  }
}
@media screen and (min-width: 590px) {
  .main:before {
    background-position: 4rem -5rem, 32rem 38rem;
    background-size: 700px 700px, 400px 400px;
  }
}
@media screen and (min-width: 750px) {
  .main:before {
    background-size: 850px 850px;
    background-position: -35rem 65rem, 40rem -10rem;
  }
}
@media screen and (min-width: 1300px) {
  .main:before {
    background-size: 850px 850px;
    background-position: -30rem 65rem, 48rem -10rem;
  }
}
@media screen and (min-width: 1950px) {
  .main:before {
    display: none;
  }
}

.nav_container {
  width: 100%;
  position: fixed;
  padding: 2rem 1rem;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  z-index: 999;
}
.nav_container.active {
  padding: 0.8rem 1rem;
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.nav_container .nav {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.nav_container .nav_lists {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 90%;
  gap: 1.5rem;
  top: 6rem;
  left: -150%;
  padding: 2rem 0;
  background-color: var(--bg-color);
  border-radius: 5px;
  align-items: center;
  box-shadow: 0px 120px 90px 100px rgba(37, 37, 37, 0.4);
  transition: 0.5s ease-in-out;
}
.nav_container .nav_lists.active {
  width: 90%;
  gap: 1.5rem;
  top: 6rem;
  left: 5%;
  padding: 2rem 0;
  background-color: var(--bg-color);
  border-radius: 5px;
  align-items: center;
  box-shadow: 0px 120px 90px 100px rgba(37, 37, 37, 0.4);
}
@media screen and (min-width: 820px) {
  .nav_container .nav_lists {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    width: 100%;
    background-color: var(--bg-color);
    top: inherit;
    left: inherit;
    box-shadow: none;
    align-items: inherit;
    border-radius: none;
    transition: 0;
  }
}
.nav_container .nav_lists a {
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.nav_container .nav_lists a:hover {
  color: var(--text-color);
}

.mobile_nav-toggle {
  top: 2rem;
  right: 1rem;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 820px) {
  .mobile_nav-toggle {
    display: none;
  }
}
.mobile_nav-toggle .screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.mobile_nav-toggle .close-menu {
  display: none;
}

.nav > .btn {
  display: none;
}
@media screen and (min-width: 820px) {
  .nav > .btn {
    display: block;
    margin-right: 0.8rem;
  }
}

.logo img {
  padding-top: 0.5rem;
}

.simplify {
  background-color: var(--primary-color);
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 3rem;
}
@media screen and (min-width: 750px) {
  .simplify {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.simplify .colums {
  align-items: center;
}
@media screen and (min-width: 750px) {
  .simplify .right_side {
    display: grid;
    justify-content: end;
  }
}
.simplify .left_side .simplify-p {
  color: var(--gray);
  font-size: 2.2rem;
  font-weight: 500;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;
  line-height: 1.4;
}
@media screen and (min-width: 750px) {
  .simplify .left_side .simplify-p {
    max-width: 90%;
    margin: 0;
  }
}
.simplify .btn_inverted {
  background-color: var(--gray);
  color: var(--primary-color);
  margin-right: 0.8rem;
  box-shadow: hsl(12deg, 63%, 47%) 0px 10px 15px -7px;
}

.simplify {
  position: relative;
  isolation: isolate;
}

.simplify:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("/images/bg-tablet-pattern.svg"), url("/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: -46rem 0, 60rem -42rem;
  opacity: 0.1;
}
@media screen and (min-width: 750px) {
  .simplify:before {
    background-size: 500px 500px, 500px 500px;
    background-position: 5rem -3rem, 68rem -23rem;
  }
}
@media screen and (min-width: 1300px) {
  .simplify:before {
    background-size: 500px 500px, 500px 500px;
    background-position: 15rem -3rem, 78rem -23rem;
  }
}
@media screen and (min-width: 1950px) {
  .simplify:before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */