@use "../globals/variables" as *;
@use "../globals/colors" as *;

.carousel_heading {
    text-align: center;
    font-size: 1.9rem;
    padding-bottom: 3rem;
}

.carousel_btn {
    display: flex;
    margin: 0 auto;
}

/* Slider */
.carousel_section .container {
    max-width: 1600px;
    overflow: hidden;
    padding: 0 .5rem;
    padding-bottom: 1rem;
}

.carousel_container {
    padding-top: 1rem;
}

.swiper {
    max-width: 100%;
    overflow: inherit !important;
    height: 300px;
    display: flex;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;

    @media screen and (min-width: $mobile_width) {
        max-width: 500px;
    }
}

.name {
    color: var(--heading-color);
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 1rem;

    @media screen and (min-width: $mobile_width) {
        margin: 0 auto;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}

.quote {
    color: var(--text-color);
    padding: 0 1rem;
    height: 100%;
    line-height: 1.6;
    font-size: .9rem;
    text-align: center;

    @media screen and (min-width: $mobile_width) {
        margin: 0 auto;
    }
}

.swiper-wrapper {
    max-height: 240px;
}

.swiper-slide {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 248, 248);

    img {
        width: 70px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: -15%;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.swiper-pagination-bullet {
    background-color: var(--bg-color) !important;
    border: 1px solid var(--primary-color);
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}