@use "../globals/variables" as *;
@use "../globals/colors" as *;

.carousel_heading {
    text-align: center;
    font-size: 1.9rem;
    padding-bottom: 3rem;
}

.carousel_btn {
    display: flex;
    margin: 0 auto;
}

/* Slider */
.carousel_section .container {
    max-width: 100%;
    overflow: hidden;
}

.carousel_container {
    padding-top: 1rem;
}

.swiper {
    max-width: 100%;
    overflow: inherit !important;
    height: 300px;
    display: flex;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.name {
    color: var(--heading-color);
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.quote {
    color: var(--text-color);
    padding: 0 1rem;
    height: 100%;
    line-height: 1.6;
    font-size: .9rem;
}

.swiper-wrapper {
    max-height: 240px;
}

.swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(247, 247, 247);

    img {
        width: 70px;
        position: absolute;
        top: -35px;
        left: 40%;
    }
}

.swiper-pagination-bullet {
    background-color: var(--bg-color) !important;
    border: 1px solid var(--primary-color);
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}