@use "../globals/variables" as *;
@use "../globals/colors" as *;

.carousel_section .container {
    max-width: 1800px;
}

.carousel_container {
    display: flex;
    overflow: hidden;
    gap: 15rem;
    margin-top: 4rem;
    margin-bottom: 3rem;

    .card_container {
        margin: 0 auto;
        margin-left: -11rem;
        text-align: center;
        min-width: 500px;
        /* background-color: var(--pale_red); */

        .card_avatar-image img {
            width: 80px;
            margin: 0 auto;
        }
    }

    .card_avatar-name {
        color: var(--heading-color);
        font-weight: bold;
        margin: 1.5rem 0;
    }

    .card_avatar-quote {
        color: var(--text-color);
        margin: 0 auto;
        line-height: 1.7;
    }
}

.carousel_heading {
    text-align: center;
    font-size: 1.9rem;
}

.carousel_btn {
    display: flex;
    margin: 0 auto;
}