@use "../globals/variables" as *;
@use "../globals/colors" as *;

.hero_heading {
    font-size: 2.3rem;
    margin-top: 1.5rem;

    @media screen and (min-width: $mobile_width) {
        font-size: 3rem;
        width: 90%;
        margin-top: 0;
    }
}