@use "../globals/variables" as *;

.header .container {
  margin-top: 3rem;
}

.container {
  max-width: var(--max_width);
  margin-inline: auto;
  text-align: center;
}

.colums {
  display: grid;
  gap: 2rem;

  .right_side {
    grid-column-start: 1;
    grid-row-start: 1;

    @media screen and (min-width: 750px) {
      grid-column-start: 2;
      grid-row-start: 1;
    }
  }

  @media screen and (min-width: 750px) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.main > .container .colums {
  margin-top: 7rem;
  align-items: center;
}
