@use "../globals/variables" as *;

.header {
  position: relative;
}

.container {
  max-width: var(--max_width);
  margin-inline: auto;
  text-align: center;
  padding: 0 1rem;

  @media screen and (min-width: 750px) {
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.colums {
  display: grid;

  .right_side.mobile {
    grid-column-start: 1;
    grid-row-start: 1;

    @media screen and (min-width: 750px) {
      grid-column-start: 2;
      grid-row-start: 1;
    }
  }

  @media screen and (min-width: 750px) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.main > .container .colums {
  margin-top: 7rem;
  align-items: center;

  @media screen and (min-width: 750px) {
    margin-top: 12rem;
  }
}

.btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--pale_red);
  padding: 1rem 2.2rem;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--primary-color) 0px 10px 15px -7px;
  transition: var(--transition-3ms);

  &:hover {
    background-color: hsl(12deg 87% 73%);
  }
}