@use "../globals/variables" as *;
@use "../globals/colors" as *;

.simplify {
    background-color: var(--primary-color);
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 8rem;

    @media screen and (min-width: 750px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .colums {
        align-items: center;
    }

    .right_side {
        @media screen and (min-width: 750px) {
            display: grid;
            justify-content: end;
        }
    }

    .left_side .simplify-p {
        color: var(--gray);
        font-size: 2.2rem;
        font-weight: 500;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 1rem;
        line-height: 1.4;

        @media screen and (min-width: 750px) {
            max-width: 90%;
            margin: 0;
        }
    }

    .btn_inverted {
        background-color: var(--gray);
        color: var(--primary-color);
        margin-right: 0.8rem;
        box-shadow: hsl(12deg 63% 47%) 0px 10px 15px -7px;
    }
}

.simplify {
    position: relative;
    isolation: isolate;
}

.simplify:before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image:
        url("/images/bg-tablet-pattern.svg"),
        url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: -46rem 0, 60rem -42rem;
    opacity: .1;

    @media screen and (min-width: 750px) {
        background-size: 500px 500px, 500px 500px;
        background-position: 5rem -3rem, 68rem -23rem;
    }

    @media screen and (min-width: 1300px) {
        background-size: 500px 500px, 500px 500px;
        background-position: 15rem -3rem, 78rem -23rem;
    }

    @media screen and (min-width: 1950px) {
        display: none;
    }
}